@media only screen and (max-width: 518px) {

    .navigation {
        display: none; /* Hide the navigation links in mobile view */
        flex-direction: column;
        text-align: center;
        /* width: 100%; */
        position: absolute;
        top: 100%; /* Change top to 100% to position the menu below the header */
        left: 0;
        /* background-color: #e9f1fa; */
        z-index: 1; /* Add this line to ensure the menu is above other content */
        padding: 1rem;
        box-sizing: border-box;
        margin: 0;
    }
    .navigation
    {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .navigation a {
        /* padding: 1rem; */
        display: block;
    }
    nav a.active
    {
        border-bottom: 3px solid #8A0000;
    }
    .menu-toggle {
        display: block; /* Display the hamburger menu in mobile view */
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    header nav
    {
        position: absolute;
        top: 45px;
        right: 60px;
        /* background-color: white; */
    }
    header h1
    {
        font-size: 50px
    }
    .switch
    {
        right: 75px;
        top: 10px;
    }
    main
    {
        display: block;
        height: auto;
        padding-bottom: 1rem;
    }
    .hero h1
    {
        font-size: 25px;
    }
    header h1
    {
        left: 25px;
        top: 100px;
    }
}

@media screen and (min-width: 519px) and (max-width: 996px) {
    /* .card
    {
        width: 42%;
    } */
    .weathercard
    {
        width: 95%;
    }
    .actionCard
    {
        width: 100%;
    }
    main
    {
        height: auto;
        padding-bottom: 1rem;
    }
    .hero h1
    {
        font-size: 50px;
        left: 5px;
    }
}

@media screen and (min-width: 447px) and (max-width: 685px) {
    .member
    {
        font-size: 8px;
    }
}
@media screen and (max-width: 446px) {
    .member 
    {
        font-size: 6px;
    }    
}