*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: grid;
    height: 100vh;
    margin: 0;
}
.navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 1rem;
}
nav
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e9f1fa;
    justify-content: center;
}
nav a
{
    color: black;
    text-decoration: none;
    padding: 1rem;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}
.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0;
}
header
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #00ABE4;
    padding: 1rem;
}
header img
{
    width: 100px;
    margin-right: 2rem;
    border-radius: 5px;
}
header h1
{
    color: black;
}
main
{
    display: grid;
    min-width: 400px;
    justify-content: center;
    grid-template-columns: 1fr;
}
main h2
{
    text-align: center;
    border-bottom: 1px solid;
    margin-left: 1em;
    margin-right: 1em;
}
.card
{
    grid-template-columns: auto 1rem auto;
    border: 1px solid;
    border-radius: 5px;
    margin: 1rem;
    overflow: hidden;
}
.card a
{
    display: block;
    text-decoration: none;
}
.card h3
{
    text-align: center;
    background-color: #00ABE4;
    margin-top: 0;
    color: black;
    padding: 1rem;
}
.card p
{
    text-align: center;
}
.card ul li
{
    list-style-type: none;
}
.mapFrame
{
    margin: auto;
    border: 0;
    max-width: 3000px;
    width: 95%;
    height: 450px;
    margin-bottom: 1rem;
    /* width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" */
}
footer
{
    display: flex;
    flex-direction: column;
    background-color: #00ABE4;
    align-items: center;
    justify-content: center;
}
footer p
{
    text-align: center;
    color: black;
}

